input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(128, 128, 128, 0);
  background: url('/calendar.svg') no-repeat;
  background-size: contain;
  opacity: 1;
  display: block;
  border-width: thin;
  position: absolute;
  left: -115px;
  z-index: 9;
}

button {
  text-transform: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
