.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  margin: 0 auto;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.actionButtons {
  padding: 10px 0;
  min-width: 560px !important;
  background: #383838 !important;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 12 !important;
  border: 1px solid rgba(176,151,126, 0.2);
  z-index: 20 !important;
}

.actionButton {
  width: 200px;
}

.actionButtonText {
  font-size: 15px !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

.buttonOverride {
  background: rgb(84, 80, 80) !important;
  color: rgb(255,180,5) !important;
  font-weight: 700 !important;
  width: 100%;
  min-width: 200px !important;
}

.buttonOverride:hover {
  background: rgb(122, 118, 118) !important;
}


.buttonOverrideFixed {
  background: rgb(84, 80, 80) !important;
  color: rgb(255,180,5) !important;
  font-weight: 700 !important;
  min-width: 200px !important;
  max-height: 48px;
}

.buttonOverrideFixed:hover {
  background: rgb(84, 80, 80) !important;
}


.bribesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    border: 1px solid rgba(104, 108, 122, 0.25);
    margin: auto;
    padding: 0 0 10px 0px;
    margin-bottom: 20px;
  }
}
